/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Texto]
      ,[Dica]
      ,[TamanhoDaPalavra]
  FROM [forca].[dbo].[Palavra]

  INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
  VALUES ('pneumoultramicroscopicossilicovulcanoconiotico', 'Doença Pulmonar', 46)

  INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
  VALUES ('chora maicom', 'Bordão do bernardo', 11)

  INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
  VALUES ('compasso', 'ferramenta escolar', 8)

