/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Texto]
      ,[Dica]
      ,[TamanhoDaPalavra]
  FROM [forca].[dbo].[Palavra]

  --Delete from Palavra
  --where id = 34

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('assembly', 'Programação', 8)

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('estante', 'Movél', 7)

  -- insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('camping', 'Lazer', 7)

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('carvalho', 'Árvore', 8)

  -- insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('gengibre', 'Legume', 8)

  -- insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('alcachofra', 'Verdura', 10)

  -- insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('manjerona', 'Tempero', 9)

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('quentin tarantino', 'Cinema', 16)

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('chimarruts', 'Banda nacional', 10)

  --insert into Palavra(texto, dica, tamanhoDaPalavra)
  --values('engenharia de software', 'Curso superior', 20)



