/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Texto]
      ,[Dica]
      ,[TamanhoDaPalavra]
  FROM [forca].[dbo].[Palavra]

--  INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES('budweiser', 'Cerveja', 9)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('bossa nova', 'Ritmo musical', 9)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('perseveranca', 'Adjetivo', 12)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('djembe', 'Instrumento', 6)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('responsabilidade', 'Substantivo', 16)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('locutor', 'Profissão', 7)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('mirmecologista', 'Profissão', 14)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('morgan freeman', 'Ator', 13)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('desagradavel', 'Adjetivo', 12)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('sandra bullock', 'Atriz', 13)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('pindamonhangaba', 'Cidade', 15)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('hipocondria', 'Doença', 11)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('tangamandapio', 'Cidade', 13)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('aquaplanagem', 'Acidente', 12)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('transportadora', 'Serviço', 14)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('aristoteles', 'Filósofo', 11)

--INSERT INTO Palavra(Texto, Dica, TamanhoDaPalavra)
--VALUES ('murta que geme', 'Harry Potter', 12)