html,body{height: 100%;}
body{ 
    background:-webkit-radial-gradient( center center,circle cover,#078ABE, #0D343A);
    background:-moz-radial-gradient( center center,circle cover,#078ABE, #0D343A);  
    background:radial-gradient( center center,circle cover,#078ABE, #0D343A); 
} 

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.formulario-centralizado {
  text-align: center;
}

.formulario-centralizado--top {
  align-self: flex-start;
}

.formulario-centralizado--bottom {
  align-self: flex-end;
}

.radio-button {
	display: none;
}

.radio-button:checked + section {
	display: inline-block;
}

.section-dificuldade{
    display: none;
    height: 100%;
    color: white;
    text-align: center;
    margin: auto;
}

.section-dificuldade > h1{
    display: inline-block;
	margin-bottom: 0;
	font-weight: lighter;
	font-size: 30px;
    margin: 0px;
}

.section-dificuldade > label{
	display: inline-block;
	cursor: pointer;
	font-size: 25px;
}

.section-dificuldade label:first-child{
	margin-left: 100px;
}

#tela-menu{
    margin: 100px auto;
    width: 500px;
}

.pontuacao{
    display: inline-block;
    float: right;
    margin: 30px 5px 0;
    font-size: 15px;
}
.pontuacao > h2{
    margin: 0;
}

header{
    height: 100%;
    width: 100%;
}

footer{
    position: absolute;
    bottom: 3px;
    width: 83%;
}

.btn-jogo{
    float: right;
    margin: 30px 5px 0;
    font-size: 15px;
}
.campo-letra{
    display: inline-block;
    border-bottom: 3px #000000 solid;
    width: 20px;
    height: 66px;
}
.campo-letra > h1{
    font-size: 30px;
}
.conteudo{
    float: left;
    margin-top: 15%;
    width: 100%;
}
.dificuldade{
    display: inline-block;
    width: auto;
}
.letras-erradas{
    float: left;
    margin-top: 200px;
    margin-right: 20px;
    float: right;
}
.letras-erradas > h2{
    display: inline-block;
    margin-left: 10px;
}
.palavra{
    margin: auto;
}
