<div id="tela-menu" class="sub-tela formulario-centralizado col-md-5">
    <form id="formLogin" class="form-horizontal">
        <div class="form-group">
            <h2 class="titulo col-md-offset-3 col-md-3">Jogo da forca!</h2>
        </div>
        <div class="form-group">
            <label for="nickname" class="col-md-3">Nickname</label>
            <div class="col-md-9">
                <input type="text" id="nome-player" name="nickname" class="form-control has-error" required>
            </div>
        </div>

        <div class="form-group">
            <div id="container-botao-entrar" class="col-md-offset-3 col-md-3 pull-right">
                <button type="submit" class="btn btn-primary">Começar</button>
            </div>
        </div>
    </form>
</div>
<div id="telaJogo" class="sub-tela">
</div>
@section Scripts{
    @Scripts.Render("~/bundles/app")
}