<header>
    <button class="btn btn-jogo" id="btn-reiniciar-jogo">REINICIAR</button>
    <button class="btn btn-jogo" id="btn-dica">DICA</button>
    <button class="btn btn-jogo" id="btn-palpitar-palavra">PALPITAR PALAVRAR</button>
    <div class="pontuacao"><h2>{{pontuacao}} pts</h2></div>
    <div id="error"><h1></h1></div>
</header>
<div class="conteudo">
    <div class="palavra">
        {{#each letras}}
        <div class="campo-letra">
            <h1>A</h1>
        </div>
        {{/each}}
    </div>
</div>
<div class="letras-erradas">

</div>
<footer>
    <div class="dificuldade">
        <h2>
            DIFICULDADE: {{dificuldade}}
        </h2>
    </div>
</footer>