<div id="botoes">   
    <input type='radio' class="radio-inline" name='tipo-placar' id="rb-normal" value='normal'/>Normal
    <input type='radio' class="radio-inline" name='tipo-placar' id="rb-bh" value='bh' /> BH
    <button class="btn btn-primary" id="btn-filtrar">Filtrar</button>
</div>    
<div id="placar">
    <table class="table">
        <thead id="descricao">
            <tr>
                <th>#</th>
                <th>Nickname</th>
                <th>Pontos</th>
                <th>Dificuldade</th>
            </tr>
        </thead>
        <tbody class="tabela">
            {{#each pontuacoes}}
            <tr id="{{ id }}">
                <th scope="row">{{posicao}}</th>
                <td class="nome-usuario">{{ nome }}</td>
                <td class="pontos">{{ pontos }}</td>
                <td class="dificuldade">{{ dificuldade }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div id="btn-pagina">
        <button class="btn btn-primary" id="btn-anterior">Anterior</button>
        <button class="btn btn-primary" id="btn-proximo">Próxima</button>
</div>