<header>
    <button class="btn btn-jogo" id="btn-reiniciar-jogo">REINICIAR</button>
    <button class="btn btn-jogo" id="btn-dica">DICA</button>
    <button class="btn btn-jogo" id="btn-palpitar-palavra">PALPITAR PALAVRAR</button>
    <div class="pontuacao"><h2>{{pontuacao}} pts</h2></div>
    <div id="dica"></div>
</header>
<div id="titulo">
    <h1>JOGO DA FORCA!</h1>
</div>   
<div class="conteudo">
    <div class="palavra">
        {{#each letras}}
            {{#if espaco}}
                <div class="campo-espaco"></div>
            {{else}}
                {{#if traco}}
                    <div class="campo-espaco">-</div>
                {{else}}
                    <div id="letra{{id}}" class="campo-letra"></div>
                {{/if}}
            {{/if}} 
        {{/each}}
    </div>
</div>
<div class="letras-erradas">

</div>
<footer>
    <div class="dificuldade">
        <h2>
            DIFICULDADE: {{dificuldade}}
        </h2>
    </div>
</footer>